hltm, body, a, p, div, section, article, aside, li, ul, td, tr, table,h1,h2,h3,h4,h5,h6 {
	margin:0;
	padding:0;
	color:black;
}

body {
	font-size: 15px/22px;
	font-family: Calibri;
	font-style: normal;
	background:url('images/testtr.png');
	background-size:cover;
}

/**********
	entête
**********/

header{
	height: 30px;
	position: fixed;
	top:0px;
	z-index: 100;
	width:100%;
	background:#E8E8E8;
	border-bottom: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(100,100,100,0.2), inset 0 1px 0 #fbfbfb;
}

#accueil{
	position:relative; top:0; left:30px;
	font-size:16px;
	display:inline-block;
	width:20%;
	text-decoration: none;
}

.menu_item{
	color:#E8E8E8;
	font-family:Calibri;
	float:right;
	margin-left:10px;
	padding:0 5px;
	position:relative; right:5px; top:4px;
	text-decoration:none;
	font-size:16px;
	border-radius:5px;
	border:1px solid #525252;
	background:#7C7C7C;
}

/**********
	MAIN
**********/


section{
	width:100%;
	text-align:center;
}

#piscine{
	position:absolute; top:10%; left:2%;
	width:35%;
	border-radius:10px;
	font-size:14px;
	text-align:left;
	overflow:auto;
}
#herbe{
	position:absolute; top:10%; right:2%;
	height:80%;
	width:50%;
	text-align:left;
	border-radius:10px;
	overflow:auto;
}

.titre{
	color:#E8E8E8;
	position:relative; top:30px; left:0;
	height:30px;
	width:100%;
	font-size:16px;
	background:#7C7C7C;
	text-align:left;
}

h1{
	color:#E8E8E8;
	display:inline;
	margin:auto 50px;
}

h3{
	width:80%;
	text-align:center;
	margin:10px;
}

.titre a{
	color:#E8E8E8;
	margin-left:10px;
}

.cible{
	text-decoration: none;
	cursor: pointer;
}
